ci:
  autofix_commit_msg: '[pre-commit.ci] auto fixes'
  autofix_prs: true
  autoupdate_schedule: monthly
  autoupdate_commit_msg: 'chore(deps): pre-commit autoupdate'
  skip:
  - uv-lock

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-json
        exclude: "\\.vscode/.*.json"
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/tox-dev/pyproject-fmt
    rev: v2.6.0
    hooks:
      - id: pyproject-fmt

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.1
    hooks:
      - id: ruff
        name: Ruff lint
        args: [--fix, --exit-non-zero-on-fix, --show-fixes]
      - id: ruff-format
        name: Ruff format

  - repo: https://github.com/pre-commit/pre-commit
    rev: v4.2.0
    hooks:
      - id: validate_manifest

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.33.1
    hooks:
    - id: check-meltano
    - id: check-github-workflows
    - id: check-renovate
      language: python
      additional_dependencies:
      - pyjson5==1.6.9

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.7.17
    hooks:
    - id: uv-lock
    - id: uv-sync
