name: Test tap-fedidb

on:
  push:
    branches: [main]
    paths:
      - tap_fedidb/**
      - tests/**
      - pyproject.toml
      - .github/workflows/test.yml
      - .github/workflows/constraints.txt
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
      - tap_fedidb/**
      - tests/**
      - pyproject.toml
      - .github/workflows/test.yml
      - .github/workflows/constraints.txt
  workflow_dispatch:
  schedule:
  # Run weekly on Monday at 12:00 PM UTC
  - cron: "0 12 * * 1"

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      FORCE_COLOR: "1"
      PIP_CONSTRAINT: ${{ github.workspace }}/.github/workflows/constraints.txt
    strategy:
      fail-fast: false
      matrix:
        python-version:
        - "3.9"
        - "3.10"
        - "3.11"
        - "3.12"
        - "3.13"
        include:
        - { script: "dependencies", python-version: "3.x" }
        - { script: "typing",       python-version: "3.x" }

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      id: setup-python
      with:
        python-version: ${{ matrix.python-version }}
        allow-prereleases: true
    - uses: astral-sh/setup-uv@v3
      with:
        version: ">=0.4.20"

    - name: Run tests
      env:
        UV_PYTHON: ${{ steps.setup-python.outputs.python-path }}
      run: |
        uvx --with=tox-uv tox -e ${{ matrix.script || matrix.python-version }}
